<body class="bg-white text-dark">
  <div class="container my-5">
    <h1>Blogs</h1>
    <div class="row">
      <div class="col">
        <%= form_with url: blogs_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Nevada, Road-trip, hiking, etc..."
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
      <div class="card-container mt-5">
        <% @blogs.each do |blog| %>
        <div class="card-blog p-3">
          <div class="card-img" style="background-image: url(<%= cl_image_path blog.photo_banner.key %>)"></div>
          <div class="d-flex flex-column">
            <div>
            <div class="mt-2"><span class="card-title"><%= blog.title %></span></div>
              <div>
            <% if (blog.end_date - blog.start_date).to_i < 14 %>
                <span class="duration-price">€<%= (blog.max_price + blog.min_price) / 2 %> | <%= (blog.end_date - blog.start_date).to_i %> days </span>
              <% elsif (blog.end_date - blog.start_date).to_i >= 14 && (blog.end_date - blog.start_date).to_i < 60 %>
                <span class="duration-price">€<%= ((blog.max_price + blog.min_price) / 2) * 4 %> | <%= ((blog.end_date - blog.start_date).to_i) / 7 %> weeks </span>
              <% elsif (blog.end_date - blog.start_date).to_i >= 60 %>
                <span class="duration-price">€<%= (blog.max_price + blog.min_price) / 2 %> | <%= ((blog.end_date - blog.start_date).to_i) / 30 %> months </span>
              <% end %>
            <div class="mt-2">
              <span class="tag mt-1"> #surfing </span> &nbsp
              <span class="tag mt-1"> #hiking </span>&nbsp
              <span class="tag"> #hunting </span>
            </div>
            <div>
              <div class="localisation">
                  <%= image_tag "localisation.svg",style:"max-height: 24px; max-width: 24px;" %>
                  <%=blog.steps.first.country%>
              </div>

              <div class="heart">
                  10
                  <%= image_tag "heart.svg",style:"max-height: 24px; max-width: 24px;" %>
              </div>
            </div>
            <div>


            </div>
            </div>
          </div>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>
</body>
