<body class="bg-white text-dark">
  <div class="container my-5">
    <h2 class="col d-flex justify-content-center mb-4">Blogs</h2>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="search-local" style="max-width: 40rem;">
          <div class="icon-searchbar">
            <ion-icon name="location-outline"></ion-icon>
          </div>
          <%= form_with url: blogs_path, method: :get, class: "align-items-center d-flex flex-grow-1" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control text-input flex-grow-1",
              placeholder: "Nevada, Road-trip, hiking, etc..."
            %>
            <button type="submit" class="align-items-center d-flex justify-content-center submit-tag" style="color: white;">
              <i class="fas fa-magnifying-glass"></i>
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-container mt-5">
      <% @blogs.each do |blog| %>
      <%= link_to blog_path(blog), class: "card-link" do %>
      <div class="card-blog p-3">
        <div class="card-img"
          style="background-image: url(<%=  blog.photo_banner.attached? ? cl_image_path(blog.photo_banner.key) : image_path("default-bg.jpg")  %>)">
        </div>
        <div class="d-flex flex-column">
          <div>
            <div class="mt-2"><span class="card-title"><%= blog.title %></span></div>
            <div>
              <% if (blog.end_date - blog.start_date).to_i < 14 %>
              <span class="duration-price">€<%= (blog.max_price + blog.min_price) / 2 %> |
                <%= (blog.end_date - blog.start_date).to_i %> days </span>
              <% elsif (blog.end_date - blog.start_date).to_i >= 14 && (blog.end_date - blog.start_date).to_i < 60 %>
              <span class="duration-price">€<%= ((blog.max_price + blog.min_price) / 2) * 4 %> |
                <%= ((blog.end_date - blog.start_date).to_i) / 7 %> weeks </span>
              <% elsif (blog.end_date - blog.start_date).to_i >= 60 %>
              <span class="duration-price">€<%= (blog.max_price + blog.min_price) / 2 %> |
                <%= ((blog.end_date - blog.start_date).to_i) / 30 %> months </span>
              <% end %>
              <div class="mt-2">
                <div class="mt-2">
                  <div class="mt-2">
                    <% used_tags = [] %>
                    <% blog.steps.sample(3).each do |step| %>
                    <% if step.tag_list.present? %>
                    <% available_tags = step.tag_list - used_tags %>
                    <% selected_tags = available_tags.sample(3) %>
                    <% used_tags += selected_tags %>
                    <% selected_tags.sample(3).each do |tag| %>
                    <span class="tag mt-1">#<%= tag %></span> &nbsp;
                    <% end %>
                    <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="localisation">
                  <%= image_tag "localisation.svg",style:"max-height: 24px; max-width: 24px;" %>
                  <% if blog.steps.first %>
                  <%=blog.steps.first.country%>
                  <% end %>
                </div>
                <div class="heart"> 10 <%= image_tag "heart.svg",style:"max-height: 24px; max-width: 24px;" %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</body>
