<% if false %>
  <div class="container my-2">
    <div class="row">
      <div class="col-8 col-4">
        <h1><%= @blog.title %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <% @steps.each do |step| %>
          <div class="mb-3">
            <%= step.title %>
            <%= step.content %>
          </div>
        <% end %>
      </div>
      <div class='col-4' data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <div style="width: 100%; height: 100vh; border-radius: 4px; position: sticky; top: 0;"
        data-map-target="container">
        </div>
      </div>
    </div>
  </div>
<% end %>

<%# style="background-image: url(<%= cl_image_path blog.photo_banner.key %>

<div class="row">
  <div class="col-12" style="background-image: url('');">
    <h1 class="ms-5"><%= @blog.title %></h1>
  </div>
</div>
<div class="container my-2">
  <div class="row">
    <div class="col-8">
      <% @steps.each do |step| %>
        <div class="mb-3">
          <h3><%= step.title %></h3>
          <%= step.content %>
        </div>
      <% end %>
    </div>
    <div class='col-4' data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div style="width: 100%; height: 100vh; border-radius: 4px; position: sticky; top: 0;"
      data-map-target="container">
      </div>
    </div>
  </div>
</div>
