<div class="row">
  <div class="col-12 banner-show-blog" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @blog.photo_banner.key %>)">
    <h1 class="ms-5" style = "font-size: 58px; color: white;"><%= @blog.title %></h1>
  </div>
</div>
<div class="container my-2">
  <div class="row">
    <div class="col-8">
      <% @steps.each do |step| %>
        <div class="mb-3">
          <h3><%= step.title %></h3>
          <%= step.content %>
        </div>
      <% end %>
    </div>
    <div class='col-4' data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div style="width: 100%; height: 100vh; border-radius: 4px; position: sticky; top: 0;"
      data-map-target="container">
      </div>
    </div>
  </div>
</div>
