<div class="container my-2">
  <div class="row">
    <div class="col-8 col-4">
      <h1><%= @blog.title %></h1>
    </div>
  </div>
  <div class="row">
    <% @steps.each do |step| %>
      <div class="col-9 mb-3">
        <%= step.title %>
        <%= step.content %>
        <% if step.photo %>
        <%= cl_image_tag @step.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    <% end %>
    <div class='col-3' data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div style="width: 100%; height: 100vh; border-radius: 4px; position: sticky; top: 0;"
      data-map-target="container">
      </div>
    </div>
  </div>
</div>


<%# style="background-image: url(<%= cl_image_path blog.photo_banner.key %>
