<div class="navbar sticky-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" style="<%= 'position:fixed' if action_name == 'home' %>">
  <div class="container">
    <div class="logo-container">
      <%= link_to image_tag("Logo-TripEasy.png", id:"logo"), root_path, class: "navbar-brand" %>
    </div>

    <div class="tabs-container">
      <ul class="tabs" style="margin-bottom: 0px;">
        <li><%= link_to "Blogs", blogs_path %></li>
        <li><%= link_to "How it works", root_path %></li>
        <li><%= link_to "About Us", root_path %></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="user-container d-flex align-items-center">
        <%= link_to "Create a blog", my_library_path(create_blog: true), style: "color: white;", id: "create-btn" %>
        <li class="nav-item dropdown">
          <a href="" class="avatar navbar-brand mx-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.profile_photo.attached? %>
              <%= cl_image_tag current_user.profile_photo.key, class: "avatar", alt: "dropdown menu", style: 'object-fit: cover; height:40px; weight:40px;' %>
            <% else %>
              <%= image_tag 'https://creazilla-store.fra1.digitaloceanspaces.com/icons/7912990/avatar-icon-md.png', class: "avatar", alt: "dropdown menu", style: 'object-fit: cover' %>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", "#", class: "dropdown-item" %>
            <%= link_to "My library", my_library_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    <% else %>
      <div class="user-container">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </div>
    <% end %>
  </div>
</div>
