<div class="navbar sticky-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" style="<%= 'position:fixed' if action_name == 'home' %>">
  <div class="container">
    <div class="logo-container">
      <%= link_to image_tag("Logo-TripEasy.png", id:"logo"), root_path, class: "navbar-brand" %>
    </div>

    <div class="tabs-container">
      <ul class="tabs" style="margin-bottom: 0px;">
        <li><%= link_to "Blogs", blogs_path %></li>
        <li><%= link_to "How it works", root_path %></li>
        <li><%= link_to "About Us", root_path %></li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="user-container d-flex align-items-center">
        <li id="create-btn">
        <%= link_to "Create a blog", my_library_path, style: "color: white;" %>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="avatar navbar-brand mx-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/Etienne-loading", class: "avatar-bordered", alt: "avatar-bordered" %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </div>
    <% else %>
      <div class="user-container">
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      </div>
    <% end %>
  </div>
</div>



<%# <section class="banner"></section>
<script type="text/javascript">
  window.AddEventListener("scroll", function(){
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scrollY > 0);
  })
</script> %>
