<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-3">My library</h1>
    </div>
    <div class="row">
      <% current_user.blogs.each do |blog| %>
        <div class="col-6">
          <div class="mb-3">
            <div class="card-my-blog d-flex justify-content-between position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)), url(<%= blog.photo_banner.attached? ? cl_image_path(blog.photo_banner.key) : image_path("default-bg.jpg") %>);">
              <h3 class="card-title"><%= blog.title %></h3>
              <div class="card-my-blog_links-container">
              <%= link_to edit_blog_path(blog), class:"position-absolute top-0 start-100 translate-middle" do %>
                  <i class="fa-solid fa-pen-to-square"></i>
                <% end %>
                <%= link_to blog_path(blog), class:"btn btn-card" do %>
                  <i class="fa-solid fa-eye"></i>
                <% end %>
                <%= link_to blog_steps_path(blog), class:"btn btn-card" do %>
                  <i class="fa-solid fa-pen-ruler"></i>
                <% end %>
                <%= link_to blog_path(blog), class: "btn btn-card-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-solid fa-trash color-danger"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      <div class="row">
        <div class="col">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            New blog
          </button>
        </div>
      </div>
    <!-- Modal -->
    <div
      class="modal fade"
      <% if params[:create_blog] == "true" %>
        data-controller="modal-popup"
      <% end %>
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      style="z-index: 20000;"
      >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new blog</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [@blog] do |f| %>
              <%= f.input :title, placeholder: "Title" %>
              <%= f.input :min_price, placeholder: "Minimum price" %>
              <%= f.input :max_price, placeholder: "Maximum price" %>
              <%= f.input :start_date, as: :date, html5: true, placeholder: "start_date" %>
              <%= f.input :end_date, as: :date, html5: true, placeholder: "end_date" %>
              <%= f.input :photo_banner, as: :file %>
              <%= f.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
