<div class="banner-show-blog flex-column"
  style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= @blog.photo_banner.attached? ? cl_image_path(@blog.photo_banner.key) : image_path("default-bg.jpg") %>)">
  <h1 style="font-size: 58px; color: white;">
    <%= @blog.title %>
  </h1>
  <h2 style="color: white">(Edition mode)</h2>
</div>
<div class="d-flex">
  <% step_num_sidebar = 0 %>
  <% if @steps.present? %>
    <div class="bg-dark col-3" style="min-height: 50vh">
      <div class="sticky-top">
        <div class="nav flex-column">
          <% @steps.each do |step| %>
            <% step_num_sidebar += 1 %>
            <%= link_to "#{step_num_sidebar}. #{step.title.truncate_words(4)}", "##{step.id}", class:"text-white p-3 text-decoration-none" %>
          <% end %>
          <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#modalForm">
            Add section
          </button>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-9">
    <div class="col p-3">
      <h2><%= @blog.title %></h2>
      <div class="p-2" data-controller="edit-intro-blog">
        <div data-edit-intro-blog-target="content">
          <h5>Introduction content</h5>
          <% if  @blog.video.url%>
          <%= video_tag @blog.video.url, controls: true, mute: false, autoplay: true, class: "d-block w-50 m-auto mb-3" %>
          <% end %>
          <%= simple_format @blog.intro %>
        </div>
        <div>
          <%= link_to "Edit my introduction", edit_blog_path(@blog), data: {edit_intro_blog_target:"button", action:"click->edit-intro-blog#revealEditForm"}%>
        </div>
        <%= simple_form_for @blog, html: { class:"d-none", data: { edit_intro_blog_target:"form" }} do |f| %>
            <%= f.input :title, placeholder: "Title" %>
            <%= f.input :video, as: :file, placeholder: "Video", input_html: { resource_type: :video } %>
            <%= f.input :intro, placeholder: "Introduction content" %>
            <%= f.submit class: "btn btn-primary" %>
            <% end %>
      </div>
      <% step_num = 0 %>
      <% @steps.each do |step| %>
        <% step_num += 1 %>
        <div class="col-12 mb-3" data-controller="edit-step-blog">
          <div data-edit-step-blog-target="content">
            <h4>Step : <%= step_num %></h4>
            <h5 id="<%= step.id %>" class="mb-2"><%= step.title %> | <%= step.duration %> days</h5>
            <% if step.photo_text.attached? %>
              <div class="d-flex flex-column">
                <p><%= simple_format step.content %></p>
                <%= cl_image_tag(step.photo_text.key, width:250, height: 150, class:"mb-3") %>
              </div>
            <% elsif step.photos.attached? %>
              <div class="d-flex align-items-center">
                <% step.photos.each do |photo| %>
                  <div style="width:250px; height:150px" class="me-3 mb-3">
                    <%= cl_image_tag(photo.key, width: "100%", height: "100%") %>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p><%= simple_format step.content %></p>
            <% end %>
          </div>
          <div>
            <% if step.layout == 1 %>
              <%= simple_form_for [@blog, step],
                html: { class:"d-none", data: { edit_step_blog_target:"form" }} do |f| %>
                <%= f.input :title, placeholder: "Title" %>
                <%= f.input :address, placeholder: "Address" %>
                <%= f.input :duration, placeholder: "Duration" %>
                <%= f.submit class: "btn btn-primary" %>
              <% end %>
            <% elsif step.layout == 2 %>
              <%= simple_form_for [@blog, step],
                html: { class:"d-none", data: { edit_step_blog_target:"form" }} do |f| %>
                <%= f.input :title, placeholder: "Title" %>
                <%= f.input :address, placeholder: "Address" %>
                <%= f.input :duration, placeholder: "Duration" %>
                <%= f.input :photo_text, as: :file %>
                <%= f.input :content, placeholder: "Content" %>
                <%= f.submit class: "btn btn-primary" %>
              <% end %>
            <% elsif step.layout == 3 %>
              <%= simple_form_for [@blog, step],
                html: { class:"d-none", data: { edit_step_blog_target:"form" }} do |f| %>
                <%= f.input :title, placeholder: "Title" %>
                <%= f.input :address, placeholder: "Address" %>
                <%= f.input :duration, placeholder: "Duration" %>
                <%= f.input :photos, label: false, as: :file, input_html: { multiple: true } %>
                <%= f.submit class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <%= simple_form_for [@blog, step],
                html: { class:"d-none", data: { edit_step_blog_target:"form" }} do |f| %>
                <%= f.input :title, placeholder: "Title" %>
                <%= f.input :address, placeholder: "Address" %>
                <%= f.input :content, placeholder: "Content" %>
                <%= f.input :duration, placeholder: "Duration" %>
                <%= f.submit class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between">
            <%= link_to "", blog_step_path(step.blog, step), data: {edit_step_blog_target:"button", action:"click->edit-step-blog#revealEditForm"}, class: "fa-solid fa-pen btn btn-secondary" %>
            <%= link_to "", blog_step_path(step.blog, step), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash btn btn-warning" %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="container">
      <div class="row" data-controller="create-step-blog">
        <div class="col text-center my-3">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm">
            Add section
          </button>
        </div>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" id="modalForm" data-controller="layout" aria-labelledby="modalFormLabel"
      aria-hidden="true" , style="z-index: 20000;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalFormLabel">Choose a layout</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row align-items-center text-center">
              <div class="col-6" data-layout-target="col">
                <a href="" class="text-decoration-none" data-action="click->layout#showForm1">
                  <div data-layout-target="layout1"><%= image_tag("Add-Title.png") %><p>Add a title</p>
                  </div>
                </a>
                <%= render "shared/form-layout-1" %>
              </div>
              <div class="col-6" data-layout-target="col2">
                <a href="" class="text-decoration-none" data-action="click->layout#showForm2">
                  <div data-layout-target="layout2"><%= image_tag("Add-txt-and-img.png") %><p>Add a picture with a text
                    </p>
                  </div>
                </a>
                <%= render "shared/form-layout-2" %>
              </div>
              <div class="col-6" data-layout-target="col3">
                <a href="" class="text-decoration-none" data-action="click->layout#showForm3">
                  <div data-layout-target="layout3"><%= image_tag("Add-img.png") %><p>Add many medias</p>
                  </div>
                </a>
                <%= render "shared/form-layout-3" %>
              </div>
              <div class="col-6" data-layout-target="col4">
                <a href="" class="text-decoration-none" data-action="click->layout#showForm4">
                  <div data-layout-target="layout4"><%= image_tag("Add-txt.png") %><p>Add text</p>
                  </div>
                </a>
                <%= render "shared/form-layout-4" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
